# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env
.env.local
.env*.local
.env*.dev
.env.production
.env.development

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo

# Testing
coverage/

# Temporary files
*.log
*.tmp
*.temp

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Build
build/
artifacts/

# EAS
.eas/